[is="codex-input-sheet-editor"] {
	button {
		width:            100%;
		border:           0;
		background-color: transparent;
		line-height:      22px;
		padding:          0 10px;
		color:            #1b6d85;
	}
}