<div class="modalify rounded form-modal">

	<header>
		<i class="inverse fal fa-folder"></i>
		<label>Modul tulajdonságai</label>
		<nav>
			<button (cancel)><i class="fas fa-times"></i></button>
		</nav>
	</header>

	<section>
		<div aria-label="Megnevezés (Magyarul)">
			<input (name_hu) type="text" value="{{ module.name_hu }}" placeholder="Megnevezés (Magyarul)">
		</div>
		<div aria-label="Megnevezés (Angolul)">
			<input (name_en) type="text" value="{{ module.name_en }}" placeholder="Megnevezés (Angolul)">
		</div>
		<div aria-label="Modul kategória">
			<select (type) title="Modul kategória" role="module-type">
				{% for moduleType in db.storage.moduletype %}
					<option value="{{ moduleType.id }}" {% if moduleType.id == module.type %}selected{% endif %}>{{ moduleType.name }}</option>
				{% endfor %}
			</select>
		</div>
	</section>

	<footer>
		<button (cancel) class="primary">Cancel</button>
		<button (ok) class="success">Ok</button>
	</footer>

</div>