<div class="modalify rounded form-modal">

	<header>
		<i class="inverse fal fa-bars"></i>
		<label>Modulok sorrendje</label>
		<nav>
			<button (cancel)><i class="fas fa-times"></i></button>
		</nav>
	</header>

	<section>
		{% for module in data.modules %}
			<div (module) class="module" data-module-index="{{ loop.index0 }}" draggable="true"><i class="fas fa-grip-vertical"></i> {{ module.name_hu }}</div>
		{% endfor %}
	</section>

	<footer>
		<button (ok) class="success">Ok</button>
	</footer>

</div>