<div class="modalify rounded form-modal">

	<header>
		<i class="inverse fal fa-user"></i>
		<label></label>
		<nav>
		</nav>
	</header>

	<section>
		new-subject
	</section>

	<footer>
		<button (no) class="primary">Cancel</button>
		<button (ok) class="success">Ok</button>
	</footer>

</div>