[is="number-select"]{
	b{
		display: inline-block;
		width: 20px;
		text-align: center;
		line-height: 22px;
		cursor:pointer;
		font-weight: normal;
		font-size:10px;
		color:#ccc;
		&:not(.selected):hover{
			background-color: #6fceee;
			color:white;
		}
		&:not(:last-child){
			border-right:1px solid #eee;
		}
		&.selected{
			color:dodgerblue;
			font-weight: bold;
		}
	}
}