<div class="modalify form-modal">
	<header>
		<i class="inverse fas fa-code"></i>
		<label>GMark Editor</label>
		<nav>
			<button (close)><i class="fas fa-times"></i></button>
		</nav>
	</header>

	<section>
		<div (gmark) is="codex-input-gmark"></div>
	</section>

</div>